*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
    
}
.cont{
    position: sticky;
    top: 0;
    background-color: white;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* margin-top: 8px; */
    background-color: white;
    height: 30px;
    padding-top: 15px;
    z-index: 1000;
    
}
nav{
    display: flex;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 18px;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}

div .image{
    display: flex;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}
div img{
    height: 20px;
    width: 20px;
}
div .search{
    display: flex;
    gap: 13px;
    align-items: center;
}
.search input{
    padding: 10px 10px 10px 35px;
    border: none;
    border: 1px solid rgb(199, 198, 198);
    

}
.line{
    margin-top: 10px;
    background-color: rgb(219, 216, 216);
    width:100%;
    height: 1px;
    
}

.search button{
    padding: 8px 20px;
    background-color: rgb(4,105,187);
    border: none;
    color: white;
    border-radius: 4px;
}
.header{
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 60px;
}
.buttons{
    display: flex;
    gap: 8px;
    margin-left: 460px;
    margin-top: 20px;
    
}
.wrap{
    position: relative;
    
}
.icon{
    position: absolute;
    left: 5px;
    top: 7px;
    

}

.blue{
    border: none;
    background-color: rgb(4,105,187);
    color: white;
    padding: 10px 16px;
    font-weight: 700;
    border-radius: 3px;
}
.pale{
    border: none;
    background-color: rgb(233, 231, 231);
    color: black;
    padding: 10px 16px;

    border-radius: 3px;

}
.links{
    display: block;
    width: 50%;
    margin: 20px 480px;
}
.links a{
    
    color: rgb(4,105,187) ;
}
.bg{
    height: 500px;
    width: 900px;
    border-radius: 8px;
    position: relative;
    z-index: -1;
    
    
    
}
video{
    position: absolute;
    top: 400px;
    left: 210px;
    z-index: -1;
    display: block;
    object-fit: contain;
}
.rep{
    padding: 8px 12px;
    border: none;
    font-weight: 700;
    margin-top: 8px;
    background-color: white;
}
.rep:hover{
    border: 1px solid black;
    border-radius: 5px;
    
}
.cards{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
}
.card{
    height: 300px;
    width: 25%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    text-align: start;
    padding: 10px;


}
.card p{
    margin-top: 10px;
    font-size: 0.8rem;
}
.card h6{
    font-size: 0.8rem;
}
.card img{
    display: block;
    width: 90%;
    margin: auto;
    height: 50%;
    
}
.banner{
    background: url("ban.webp");
    display: flex;
    width: 71%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 12px;
    margin: 10px 170px;
   
    height: 70px;

}

.banner p{
    font-size: 0.7rem;
}
.con button{
    padding: 4px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.01);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;

}
.content .left{
    text-align: start;
    width: 25%;

}
.content img{
    width: 400px;
    height: 400px;
}
.content p{
    font-size: 0.8rem;
    margin-top: 10px;
}
.content a{
    font-size: 0.8rem;
    color: rgb(4,105,187);
    margin-top: 20px;
}
.img img{
    width: 20px;
    height: 20px;
    
}
.img{
    display: flex;
    font-size: 0.7rem;
    gap: 8px;
    align-items: center;
    

}
.ex{
    border: 1px solid rgb(223, 222, 222);
    padding: 8px 5px;
    width: 100%;
   
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.01);

}
.exx {
    width: 50%;
    margin-left: 29px;
    font-size: 0.5rem;
    text-align: left;
    margin-top: 2px;
    color: rgb(78, 78, 78);
    
}
.right{
    display: grid;
    /* width: 70%; */
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    column-gap: 20px;
    
    /* margin-left: 500px; */
    
}
.lang{
    width: 100%;
}
.ii{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.para{
    font-size: 0.8rem;
    margin-top: 10px;
    width: 35%;
}
.box{
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid rgb(207, 205, 205);
    padding: 10px;
    border-radius: 3px;
}
.box h6{
    margin-top: 10px;
}
.box p{
    width: 80%;
    margin-top: 10px;
    font-size: 0.6rem;
    color: rgb(92, 91, 91);
}
.boxes{
     display: grid;
     grid-template-columns: 200px 200px 200px 200px;
     grid-template-rows: auto auto auto auto;
     margin: 30px 230px;
     column-gap: 10px;
     row-gap: 10px;
}
.icons{
    display: flex;
    justify-content: space-around;
}
.icons img{
    width: 15px;
}
.icons .lefti{
   display: flex;
   gap: 15px;
   margin-left: -70px;
}
.icons .righti{
    margin-right: -100px;
}
.icons .lefti .x{
    width: 10px;
}
.end{
    font-size: 0.6rem;
    color: rgb(92, 91, 91);
    margin-left: 250px;
    display: flex;
    gap: 10px;
    margin-top: 7px;
}